@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-moz-selection {
  /* Code for Firefox */
  color: #000;
  background: #888;
}

::selection {
  color: #000;
  background: #888;
}

html,
body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;

  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

#container {
  height: 100%;
  width: 100%;
  color: #fff;
}

#page1 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#000, #111);
  scroll-snap-align: start;
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
}

#page1 #nav #active {
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
}

#page1 #nav #logo {
  font-size: 2rem;
  font-weight: 600;
  color: #ddd;
}

#page1 #nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

#page1 #nav ul a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
}

#page1 #main {
  display: flex;
}

#page1 #main #left {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
}

#page1 #main #left p {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

#page1 #main #left p span {
  background: -webkit-linear-gradient(left, #4774e8, #d425e3);
  background: -o-linear-gradient(right, #4774e8, #d425e3);
  background: -moz-linear-gradient(right, #4774e8, #d425e3);
  background: linear-gradient(to right, #4774e8, #d425e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#page1 #main #left button {
  cursor: pointer;
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: #4e81f4;
  color: #fff;
  margin-right: 20px;
}

#page1 #main #left #contact {
  border: none;
}

#page1 #main #left #res {
  background-color: #000;
  color: #fff;
  border-color: #4e81f4;
}

#page1 #main #right {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1 #main #right img {
  height: 500px;
  width: 500px;
}

#page2 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#111, #222);
  scroll-snap-align: start;
}

#page3 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#222, #333);
  scroll-snap-align: start;
}

#page4 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#333, #444);
  scroll-snap-align: start;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page4 h1 {
  font-size: 4rem;
  font-weight: 600;
}

#page4 #content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 30px 0;
}

#page4 #content #icons {
  display: flex;
  gap: 40px;
}

#page4 #content #icons #icon {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#page4 #content #icons #icon p {
  text-transform: uppercase;
  font-size: 1rem;
}

#html:hover {
  color: #e44d27;
  cursor: pointer;
}

#css:hover {
  color: #016BC0;
  cursor: pointer;
}

#js:hover {
  color: #e8d44e;
  cursor: pointer;
}

#page5 {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#444, #555);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}

#page5 #contact {
  font-size: 7rem;
  font-weight: 600;
}

#page5 #contact #mail {
  color: #fc626a;
  text-decoration: none;
}

#page5 #contact #mail:hover {
  text-decoration: line-through;
}

#page5 #contact #instagram {
  color: #f6ba53;
  text-decoration: none;
}

#page5 #contact #instagram:hover {
  text-decoration: line-through;
}

#page5 #contact #linkedin {
  color: #50cde7;
  text-decoration: none;
}

#page5 #contact #linkedin:hover {
  text-decoration: line-through;
}

#page5 #footer {
  font-size: 1.5rem;
  margin-top: 100px;
}
